# Python byte-compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# Pytest cache
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Editor directories
.idea/
.vscode/
*.swp
